
body{
  background-color: Black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  color: White;
  font-size: 50px
  color: White;
  text-align: center;
}

h2 {
  text-align: center;
  color: Aquamarine;
  font-size: 16px;
}
